@import "vendors";
@import "variables";
@import "typography";
@import "animations";
@import "blocks/container";
@import "blocks/page";
@import "elements/button";
@import "elements/input";
@import "elements/loading";
@import "elements/popup-form";

body {
  font-family: "Ubuntu", sans-serif;
  background: $color-background;
  font-size: $base-font-size;
  line-height: $base-line-height;
  position: relative;
}

.app-container {
  display: flex;
  flex-direction: column;
  padding-top: $header-height;
  min-height: 100vh;
  height: 100%;

  &__header,
  &__content,
  &__footer {
    flex-shrink: 0;
  }

  &__content {
    padding-top: $base-gap * 2;
    padding-bottom: $base-gap * 2;
    flex-grow: 1;
  }
}
