@import "vendors";
@import "variables";
@import "blocks/auth-form";
@import "blocks/container";
@import "elements/button";

body {
  font-family: "Ubuntu", sans-serif;
  background: $color-background;
  font-size: $base-font-size;
  padding-top: $header-height;
  position: relative;
}
