.button {
  cursor: pointer;
  user-select: none;
  min-width: 170px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  transition: $base-animation;
  will-change: color, backgroun-color, box-shadow;
  outline: none;

  font-size: $button-m-font-size;
  line-height: $button-m-line-height;
  border: $button-default-border-width solid currentColor;
  padding: $button-m-padding;
  height: $button-m-height;
  border-radius: $button-m-border-radius;
  color: $button-default-color;
  background: $button-default-background;

  &:hover {
    background: rgba($button-default-color, 0.1);
  }

  &--size-l {
    font-size: $button-l-font-size;
    line-height: $button-l-line-height;
    padding: $button-l-padding;
    height: $button-l-height;
    border-radius: $button-l-border-radius;
  }

  &--size-xl {
    font-size: $button-xl-font-size;
    line-height: $button-xl-line-height;
    padding: $button-xl-padding;
    height: $button-xl-height;
    border-radius: $button-xl-border-radius;
  }

  &--type-filled {
    color: $button-type-filled-color;
    background: $button-type-filled-background;
    border-width: $button-type-filled-border-width;

    box-shadow: 0 12px 32px rgba($color-theme, 0.28);

    &:hover {
      background: $button-type-filled-background-hover;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background: $c-gray-2;
    color: $color-text;
    box-shadow: none;
  }
}

.text-button {
  text-decoration: none;
  color: inherit;
  transition: color $base-animation;

  &:hover {
    color: $color-theme;
  }

  &--inverted {
    color: $color-theme;

    &:hover {
      color: inherit;
    }
  }
}
